# Go build artifacts
bin/
pkg/
*.exe
*.zip
*.test
*.out
*.jar
*.aar
/vendor/

wailsm

# IDE/editor
.idea/
*.iml
.vscode/
.DS_Store

# Android / Gradle build artifacts
**/build/
**/.gradle/
**/local.properties
**/captures/

/_examples/notes-app/
# Generated mobile library outputs
/internal/
/internal/templates/android/app/libs/*.aar
/internal/templates/android/app/libs/*-sources.jar
/internal/templates/android/app/libs/**/*.so

native/android/*.iml
native/android/.gradle
native/android/local.properties
native/android/.idea/
native/android/.idea/caches
native/android/.idea/libraries
native/android/.idea/modules.xml
native/android/.idea/workspace.xml
native/android/.idea/navEditor.xml
native/android/.idea/assetWizardSettings.xml
native/android/.DS_Store
native/android/build
native/android/captures
native/android/.externalNativeBuild
native/android/.cxx
native/android/local.properties
native/android/gradle
